
@if (step==0) {

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForm1()" class="max-w-screen-lg flex flex-col justify-center px-6 py-4 mx-auto">
        <h2 class="text-white text-4xl my-10 font-bold text-center">Forget Password</h2>
        <div class="relative z-0 w-full mb-5 group">
            @let emailControl =forgetPasswordForm.get("email");
            <label for="email" class="block mb-2 text-lg text-white font-medium">Email :</label>
            <input formControlName="email" type="email" id="email" class="bg-white text-black text-sm rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5  dark:text-white " placeholder=" " required />
            <app-error-message [nameControl]="emailControl"></app-error-message>
        </div>
    
        <div class="flex justify-center items-center mt-12">
            <button type="submit" [class]="forgetPasswordForm.invalid ? 'disable': 'enable'"
            [disabled]="forgetPasswordForm.invalid"
            class="btn text-[#A82222] bg-white font-bold hover:bg-second focus:ring-red-800 focus:outline-none rounded-lg text-lg w-full sm:w-auto px-7 py-2 text-center"
            >
            @if (loading) {
                <i class="fas fa-spin fa-spinner"></i>
            }
            Submit
            </button>
        </div>
    </form>
}
@else {

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm2()" class="max-w-screen-lg flex flex-col justify-center px-6 py-4 mx-auto">
        <h2 class="text-white text-4xl mb-7 font-bold text-center">Reset Password</h2>
        <div class="relative z-0 w-full mb-5 group">
            @let emailControl2 =resetPasswordForm.get("email");
            <label for="email" class="block mb-2 text-sm text-white font-medium">Email</label>
            <input formControlName="email" type="email" id="email" class="bg-white text-black text-sm rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5  dark:text-white " placeholder=" " required />
            <app-error-message [nameControl]="emailControl2"></app-error-message>
        </div>
    
         <div class="relative z-0 w-full mb-5 group">
            @let newPasswordControl =resetPasswordForm.get("newPassword");
            <label for="newPassword" class="block mb-2 text-sm font-medium text-white">newPassword</label>
            <input formControlName="newPassword" type="password" id="newPassword" class="bg-white  text-black text-sm rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5" placeholder=" " required />
            <app-error-message [nameControl]="newPasswordControl"></app-error-message>
        </div>
    
         <div class="relative z-0 w-full mb-5 group">
            @let confirmPasswordControl =resetPasswordForm.get("confirmPassword");
            <label for="confirmPassword" class="block mb-2 text-sm font-medium text-white">confirmPassword</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword" class="bg-white  text-black text-sm rounded-lg focus:ring-red-600 focus:border-red-600 block w-full p-2.5" placeholder=" " required />
            <app-error-message [nameControl]="confirmPasswordControl"></app-error-message>
        </div>
    
        <div class="flex justify-center items-center mt-12">
            <button type="submit" [class]="resetPasswordForm.invalid ? 'disable' : 'enable'"
            [disabled]="resetPasswordForm.invalid"
            class="btn text-[#A82222] bg-white hover:bg-second focus:ring-red-800 focus:outline-none font-bold rounded-lg text-lg w-full sm:w-auto px-7 py-2 text-center"
            >
            @if (loading) {
                <i class="fas fa-spin fa-spinner"></i>
            }
            Submit
            </button>
        </div>
    </form>
}