<div *ngIf="showIntroOverlay" class="intro-overlay">
  <div class="intro-overlay">
        <h1>Welcome.</h1>
        <p>Please, Open your camera to evaluate visual focus.</p>
        <button  (click)="startWithCamera()">Open Camera & Start</button>
        <button (click)="startWithoutCamera()">Dismiss</button>
    </div>
</div>

<div class="video-container" *ngIf="videoStarted">
  <video #videoPlayer width="640" height="360">
    <source src="/assets/video-test/B1/shapesB1.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <video 
  #cameraFeed 
  autoplay 
  playsinline 
  muted 
  style="display: none; width: 320px; height: 240px;"
></video>

  <div *ngIf="showQuestionOverlay" class="question-overlay">
    <div class="question-box">
      <h2>{{ currentQuestion?.question }}</h2>
      <div class="choice-list">
        <div 
          class="choice-wrapper" 
          *ngFor="let choice of currentQuestion?.choices" 
          (click)="handleAnswer(choice)">
          <img [src]="choice.img" alt="Choice" />
        </div>
      </div>
    </div>
  </div>


    <div class="congrats-overlay hidden">
        <h1>🎉 Congratulations! 🎉</h1>
        <p>You answered <span id="correct-answers">0</span> questions of 5</p>
        <button id="exit" (click)="handleExit()">Exit</button>
    </div>
    <div class="over-overlay hidden">
        <h1>Game Over!</h1>
        <p>You answered <span id="correct-answers">0</span> questions of 5</p>
        <button>Try Again</button>
  </div>




      <!-- Class Modal -->
<div *ngIf="showClassModal" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-xl shadow-xl max-w-sm w-full text-center">
    <h2 class="text-2xl font-bold mb-4">🎉 تم تصنيفك!</h2>
    <p class="text-gray-500 text-lg">الكلاس المناسب لك هو:</p>
    <p class="text-blue-600 text-3xl font-semibold mt-2">{{ childData?.childClass }}</p>
    <button
      (click)="confirmClassModal()"
      class="mt-6 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
    >
      فهمت
    </button>
  </div>
</div>


</div>

