

  <h2 class="text-4xl font-bold text-center text-white"[@bounce]>Parents Test Based on Conners’ Rating Scales</h2>

  <div class=" flex items-center justify-center mt-10">
    <div class="w-full max-w-4xl">
      <div class="bg-white p-6 rounded-2xl shadow-md">
        <h2 class="text-lg font-medium mb-4">Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</h2>
        <p class="text-xl font-bold mb-6">{{ currentQuestion }}</p>
  
        <div class="space-y-4">
          <label
            *ngFor="let option of options"
            class="flex items-center p-3 border rounded-lg hover:bg-gray-100 cursor-pointer transition"
          >
            <input
              type="radio"
              name="question{{ currentQuestionIndex }}"
              [value]="option.value"
              (change)="onSelectAnswer(option.value)"
              [checked]="currentAnswerControl.value === option.value"
              class="form-radio h-5 w-5 text-blue-600"
            />
            <span class="ml-3 text-base">{{ option.label }}</span>
          </label>
        </div>

        <div class="flex justify-between mt-6">
            <button 
              *ngIf="currentQuestionIndex > 0"
              (click)="prevQuestion()" 
              class="bg-[#A82222] hover:bg-red-900 text-white px-6 py-2 rounded-xl font-medium transition">
              Previous
            </button>
          
            <div *ngIf="currentQuestionIndex === 0"></div>
            <button
              (click)="currentQuestionIndex === questions.length - 1 ? onSubmit() : nextQuestion()"
              class="bg-[#A82222] hover:bg-red-900 text-white px-6 py-2 rounded-xl font-medium transition">
              {{ currentQuestionIndex === questions.length - 1 ? 'Submit' : 'Next Question' }}
            </button>
          </div>
          
      </div>
    </div>
  </div>
  