
  <div>
    <div class="flex justify-center">
      <button 
    (click)="startGame()" 
    [disabled]=" showGameOver || showCongrats"
    class="btn px-4 py-2 bg-white text-2xl text-[#A82222] rounded transition disabled:opacity-50 disabled:cursor-not-allowed">
    Start Game
      </button>
    </div>
  
    <div *ngIf="showGame" class="mt-6 grid grid-cols-5 gap-4 justify-center">
      <div *ngFor="let card of deck; let i = index"
           class="w-20 h-20 rounded flex items-center justify-center text-3xl font-bold cursor-pointer transition-all duration-200"
           [ngClass]="{
             'bg-green-500 text-white': !card.flipped && !card.matched && !showAllCardsTemporarily,
             'bg-white text-green-500 border border-green-500': card.flipped || card.matched || showAllCardsTemporarily
           }"
           (click)="flipCard(i)">
        {{ card.flipped || card.matched || showAllCardsTemporarily ? card.value : '?' }}
      </div>
    </div>

    <div *ngIf="showStats" class="flex justify-around items-center bg-white text[#A82222] mx-24 mt-32 text-2xl p-4">
      <p>⏱️ Time: <strong>{{ timeElapsed }}</strong> s</p>
      <p>🎯 Flips: <strong>{{ totalFlips }}</strong></p>
      <p>✅ Matches: <strong>{{ matchedPairs }}</strong> / 5</p>
    </div>
    
    <div class="menu-button fixed top-4 right-4">
      <button class="btn menu-toggle-btn bg-white text-[#A82222] text-2xl py-2 px-4 rounded" (click)="toggleMenu()">Menu</button>
  </div>
  

  <div *ngIf="showMenu" class="fixed inset-0 bg-black bg-opacity-60 flex justify-center items-center z-50">
    <div class="bg-white rounded-xl p-6 w-72 text-center space-y-4">
      <button (click)="showMenu = false" class="btn bg-white hover:bg-red-400 border-b-2 text-[#A82222] w-full py-2 rounded">Continue</button>
      <button (click)="retryGame()" class="btn bg-white hover:bg-red-400 border-b-2 text-[#A82222] w-full py-2 rounded">Restart</button>
      <button (click)="toggleSound()" class="btn bg-white hover:bg-red-400 border-b-2 text-[#A82222] w-full py-2 rounded">
        sound: {{ isSoundOn ? 'on' : 'off' }}
      </button>
      <button (click)="toggleCamera()" class="btn bg-white hover:bg-red-400 border-b-2 text-[#A82222] w-full py-2 rounded">
        camera: {{ cameraStream ? 'on' : 'off' }}
      </button>
      <button (click)="exitMenuOnly()" class="btn bg-white hover:bg-red-400 border-b-2 text-[#A82222] w-full py-2 rounded">Exit</button>
    </div>
  </div> 

      <div *ngIf="showCongrats" class="fixed inset-0 bg-black bg-opacity-80 text-white flex flex-col justify-center items-center space-y-4 z-50">
      <h1 class="text-4xl">🎉 Congratulations! 🎉</h1>
      <p>⏱️ time: {{ timeElapsed }} s</p>
      <p>🎯 Flips: {{ totalFlips }}</p>
      <button (click)="exitGame()" class="bg-green-500 px-4 py-2 rounded">Exit</button>
    </div>
  
    <div *ngIf="showGameOver" class="fixed inset-0 bg-black bg-opacity-80 text-white flex flex-col justify-center items-center space-y-4 z-50">
      <h1 class="text-3xl">⏱️ Time's Up!</h1>
      <p>Game Over</p>
      <button (click)="retryGame()" class="bg-yellow-500 px-4 py-2 rounded">Try Again</button>
    </div>



    <!-- Class Modal
<div *ngIf="showClassModal" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-xl shadow-xl max-w-sm w-full text-center">
    <h2 class="text-2xl font-bold mb-4">🎉 تم تصنيفك!</h2>
    <p class="text-gray-500 text-lg">الكلاس المناسب لك هو:</p>
    <p class="text-blue-600 text-3xl font-semibold mt-2">{{ childData?.childClass }}</p>
    <button
      (click)="confirmClassModal()"
      class="mt-6 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
    >
      فهمت
    </button>
  </div>
</div> -->

<div *ngIf="showClassModal" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-60 transition-opacity duration-300">
  <div class="bg-white rounded-2xl shadow-2xl p-6 max-w-md w-full text-center animate-fade-in-up">
    <p class="text-gray-700 mb-6">
      Based on your answers, your level has been successfully determined!
    </p>
    <!-- <p class="text-gray-800 text-xl font-bold">{{ childData?.childClass }}</p> -->
     <p class="text-gray-800 text-xl font-bold">
  {{ childData?.childClass || 'No class assigned' }}
</p>
    <button (click)="confirmClassModal()" class="bg-red-800 text-white px-6 py-2 rounded hover:bg-red-700 transition duration-300">
      Go to your class
    </button>
  </div>
</div>


  </div>
  