
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: "Exo 2", "sans-serif";
    --main-color:#A82222;
}
body{
    font-family: var(--font-family) !important;
    background-color: var(--main-color);
    min-height: 100vh;
    box-sizing: border-box;
}
.container{
    margin: auto;
}

@keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
    -webkit-animation: fade-in-up 0.8s ease-out forwards;
}
  

.btn {
  @apply px-12 py-2 rounded-2xl font-semibold transition-transform duration-300 ease-in-out shadow-md bg-white text-[#A82222] hover:bg-red-50 hover:scale-110 active:scale-110;
}

