
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Exo 2", sans-serif;
    --main-color:#A82222;
}
body {
    font-family: var(--font-family) !important;
    background-color: var(--main-color);
    margin: 0px;
    /* padding-top: 90px;
    min-height: 100vh; */
    height: 100%;
    overflow-y: auto;
}

