
   <div class=" bg-[#A82222] flex flex-col justify-center items-center text-white text-center mt-10">
    <p class="animated-text-wave">
      <span *ngFor="let letter of firstLineArray; let i = index" [style.animationDelay]="(i * 0.05) + 's'">
        {{ letter === ' ' ? '\u00A0' : letter }}
      </span>
    </p>
    <p class="animated-text-wave">
      <span *ngFor="let letter of secondLineArray; let i = index" [style.animationDelay]="(i * 0.05) + 's'">
        {{ letter === ' ' ? '\u00A0' : letter }}
      </span>
    </p>
    <p class="animated-text-wave">
      <span *ngFor="let letter of thirdLineArray; let i = index" [style.animationDelay]="(i * 0.05) + 's'">
        {{ letter === ' ' ? '\u00A0' : letter }}
      </span>
    </p>
  
    <div class="grid grid-cols-4 gap-x-10 mt-28">
      <a routerLink="/child-test" class="bg-white text-[#A82222] px-4 py-4 rounded-xl text-xl font-semibold shadow-md hover:bg-gray-100 transition">Game Test</a>
      <a routerLink="/video-test" class="bg-white text-[#A82222] px-4 py-4 rounded-xl text-xl font-semibold shadow-md hover:bg-gray-100 transition">Video Test</a>
    </div>
  </div>